.square {
    background: white;
    float: left;
    width: 2.46em;
    height: 2.46em;
    display:block;
    overflow:hidden;
    border: 1px dashed #c8c8c8;
    line-height: 2.46em;
}

td {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

table {
    border: 1px solid red;
}
